:root {
    --primary-bg: #2B2B2B;
    --secondary-bg: #3B3B3B;
    --btn-primary: #A259FF;
    --btn-secondary: #FFFFFF;
    --primary-text: #FFFFFF;
    --secondary-text:#858584;
}

h1, h2, h3, h4, h5, h6, p{
    color: var(--primary-text);
}

.button-primary{
    background-color: var(--btn-primary);
    color: var(--primary-text);
    padding:  9px 19px;
    border-radius: 14px;
    border: none;
    font-weight: 600;
    font-size: 16px;
}
.button-hero .button-primary{
    padding: 20px 50px 20px 50px;
    border-radius: 20px;
}

.accumulation{
    margin-top: 30px;
}

.accumulation h4{
    font-weight: 700;
    font-size: 24px;
}

.accumulation p{
    font-size: 24px;
    font-weight: 400;
    line-height: 38.38px;
}

body{
    background-color: var(--primary-bg);
    color: var(--primary-text);
}

.button-primary img{
    margin-right: 10px;
}

.navbar-nav, li.nav-item{
    margin-right: 20px;
}


.navbar{
    background-color: var(--primary-bg) !important;
}

.container-navbar{
    margin: 15px;
}

.navbar-brand, .navbar-brand:hover, .nav-link:focus, .nav-link:hover, li.nav-item a {
    color: var(--primary-text);
}

.hero-text-title {
    font-size: 67px;
}

.hero-text-paragraf {
    font-size: 22px;
}

body h1{
    size: 67px;
}

.cards{
    padding: 80px 0 80px 0;
}

.more {
    background-color: var(--btn-primary);
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-more{
    display: flex;
    width: 330px;
    justify-content: space-between;
    padding-top: 10px;
}

.parent-more img{
    width: 100px;
    height: 100px;
}

.profile p img{
    padding-right: 12px;
}

.navbar-toggler{
    border-color: var(--btn-primary);
}

.top-creator .button-topcreator{
    padding: 15px 50px;
    border-radius: 15px;
    border-color: #A259FF;
    background-color: var(--primary-bg);
    color: var(--btn-primary);
    width: 247px;
}

.button-topcreator{
    width: 247px;
    height: 60px;
}

.position-top-creator{
    display: flex;
    justify-content: end;
    padding-right: 45px;
}

.card-avatar{
    background-color: #3B3B3B;
    border-radius: 20px;
    padding: 20px;
    width: 240px;
}

.card-avatar .number {
    background-color: var(--primary-bg);
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #858584;
}

.card-avatar img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-top: -30px;
}

.card-avatar .total{
    text-align: center;
}

.card-avatar h5{
    text-align: center;
}

.container-card{
    padding-bottom: 40px;
}

.Categories-name{
    background-color: #3B3B3B;
}

@media(max-width: 1000px){
    .button-primary{
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container-navbar {
      max-width: 1329px;
    }
}

@media (max-width: 600px){
    .accumulation .accumulations{
        width: 150px;
    }
}

@media (max-width: 600px){
    .accumulation{
        display: flex;
        justify-content: space-between;
    }
}